@font-face {
    font-family: bungee;
    src: url(../fonts/Bungee-Regular.ttf);
}
@font-face {
    font-family: worksans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: epilogue;
    src: url(../fonts/Epilogue-VariableFont_wght.ttf);
}


/*--------------GLOBALS-----------------*/
body{
    margin: 0;
}

/* -----------------------COLORS -------------------*/

:root {
    --black: #000000;
    --blackTittle: #334747;
    --blackSubtitle: #333333;
    --red: #D41E45;
    --grayBgInput: #F0F0F0;
    --grayTextiInput: #555555;
    --lightGray: #888888;
}

/* --------------------ACCUEIL----------------------------*/

/* -----------------lOGO----------------  */
.mainAccueil {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 15px;
}
.logo-img>img {
    width: 100px;

}
.logo-Tittle {
    margin: 0px 15px;
    display: flex;
    align-items: flex-start;
    font-size: 20px;

}
.logo-Tittle>h1 {
    font-family: "bungee", sans-serif;
    margin: 0;
    position: relative;
    color: var(--blackTittle);
    font-weight: 100;
    margin-bottom: 50px;

}
.logo-Tittle>h1::after {
    font-family: "bungee";
    margin: 0;
    content: 'CAMPUS';
    position: absolute;
    color: var(--red);
    bottom: -40px;
    left: calc(50% - 90px);
    font-weight: 100;
}

/*-------------BUTTONS----------------*/
.startBtn{
    background: var(--red);
    border-radius: 20px;
    width: 300px;
}
.startBtn > a> button{
    font-family: "worksans", sans-serif;
    border: 0;
    border-radius: 20px;
    height: 70px;
    font-size: 13px;
    background: var(--red);
    color: white;
    letter-spacing: 10px;
    position: relative;
}
.startBtn > a > img{
    width: 21px;
    margin-right: 5px;
}
.startBtn > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.loginBtn > a> button{
    font-family: "worksans", sans-serif;
    height: 80px;
    border: 0;
    background-color: white;
    width: 280px;
    font-size: 10px;
    color: var(--red);
    letter-spacing: 10px;
}

/*--------------REGISTER-------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 25px;
}
.headerTitle{
    font-family: 'worksans';
}
.headerTitle > h1{
    font-size: 12px;
    color: var(--red);
    letter-spacing: 5px;
}
.headerLogo > a > img{
    width: 50px;
}


.formRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
}

.formRegister > h2{
    font-family: 'bungee';
    font-size: 16px;
    color: var(--blackSubtitle);
    text-align: left;
    width: 100%;
}



.ipRegister{
    width: 100%;
    border: 0;
    background-color: var(--grayBgInput);
    margin: 5px 0px;
    height: 50px;
    border-radius: 8px;
    font-family: "epilogue";
    padding-left: 10px;
}

.infonMail{
    text-align: center;
    color: var(--grayTextiInput);
    margin: 5px 0px 20px 0px;
    font-family: "epilogue";
    font-size: 13px;
}
.txtRegister{
    width: 99%;
    border: 0;
    background-color: var(--grayBgInput);
    margin: 5px 0px;
    height: 150px;
    border-radius: 8px;
    font-family: "epilogue";
    padding: 10px 0px 0px 10px
}


.labelPic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--grayBgInput);
    height: 150px;
    border-radius: 30px;
    margin-bottom: 40px;
}

.labelPic > h3{
    font-family: 'epilogue';
    font-size: 13px;
    margin: 5px;
    font-weight: 800;
}
.labelPic > h4{
    font-family: 'epilogue';
    font-size: 10px;
    margin: 0;
    color: var(--lightGray);
}

.uploadImg{
    width: 25px;
}

.submitRegister{
    font-family: "worksans", sans-serif;
    border: 0;
    border-radius: 20px;
    width: 250px;
    height: 70px;
    font-size: 10px;
    background: var(--red);
    color: white;
    letter-spacing: 5px;
    margin-bottom: 50px;
}


/*-----------------------------------LOGIN----------------------------------------*/

.loginContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.formLogin > h2{
    font-family: "bungee";
    color: var(--blackSubtitle);
    font-size: 20px;
    text-align: left;
    width: 100%;
}
.ipLogin{
    width: 100%;
    border: 0;
    background-color: var(--grayBgInput);
    margin: 5px 0px;
    height: 50px;
    border-radius: 8px;
    font-family: "epilogue";
    padding-left: 10px;
}
.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 15px 0px 15px;
}

.submitLogin{
    font-family: "worksans", sans-serif;
    border: 0;
    border-radius: 20px;
    width: 250px;
    height: 70px;
    font-size: 10px;
    background: var(--red);
    color: white;
    letter-spacing: 5px;
    margin: 50px 0px 10px 0px;
}

.passwordBtn{
    display: flex;
    justify-content: center;
}

.passwordBtn > a> button{
    font-family: "worksans", sans-serif;
    height: 80px;
    border: 0;
    background-color: white;
    width: 240px;
    font-size: 10px;
    color: var(--red);
    letter-spacing: 5px;
    position: relative;
    left: calc(50% - 115px);
}

/*----------CONFIRM-----------------*/

.confirmMsg{
    margin: 30px 10px;
}
.confirmMsg > h1{
    font-family: 'bungee';
    color: var(--blackSubtitle);
    font-size: 24px;
}
.confirmMsg > h2{
    font-family: 'epilogue';
    color: var(--lightGray);
    font-size: 13px;
    margin-left: 10px;
}

/*-------------------- PROFILE ------------------------------*/

#userBtn{
    position: relative;

}
.userPanel{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 24px 11px rgba(0,0,0, 0.116); 
    box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.116);
    padding: 20px;
    border-radius: 30px;
    width: 85%;
    position: absolute;
    right: 10px;
    top: 93px;
}

.userPanel::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 10px;
    height : 0;
    width : 0;
    border-right : 25px solid transparent;
    border-bottom : 43px solid white;
    border-left : 25px solid transparent;
   
}
.profileContainer  > img{
   width: 70px;
   height: 70px;
   border-radius: 100px;
   border: 3px solid var(--red); 
}

.profileContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
   
}
.profile {
    width: 80%;
    margin-left: 5px;
}
.profile > h2{
    font-family: "bungee";
    color: var(--red);
    margin: 0;
    font-size: 22px;
}
.profile > h3{
    font-family: "epilogue";
    color: rgba(51, 51, 51, 0.562);
    margin: 0;
    font-size: 12px;
    
}
.profileOptions{
    width: 100%;
}
.trajetBtn{
    width: 100%;
}

.trajetBtn > a> button{
    font-family: "worksans", sans-serif;
    border: 0;
    border-radius: 20px;
    width: 100%;
    height: 50px;
    font-weight: 100;
    font-size: 14px;
    background: var(--red);
    color: white;
    letter-spacing: 5px;
    margin: 30px 0px;
}
.modalLink{
    margin: 5px 0px;
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
}
.modalLink > img{
    width: 30px;
}
.modalLink > a{
    text-decoration: none;
    font-family: "epilogue";
    color: var(--grayTextiInput);
    font-size: 20px;
    margin-left: 20px;
}

